<!DOCTYPE html>
<html lang="en">
<head>
    <title>Classrooms</title>
    <link rel="stylesheet" th:href="@{/styles/styles.css}">
</head>
<body>
<h1>Classrooms</h1>
<div class="table">
    <div class="table-head">
        <div class="table-head-row">
            <div class="table-head-cell">Number</div>
        </div>
    </div>
    <div class="table-body">
        <a class="table-body-row" th:each="classroom: ${classrooms}">
            <div class="table-body-cell" th:text="${classroom.number}"></div>
        </a>
    </div>
</div>
</body>
</html>
