<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subjects</title>
    <link rel="stylesheet" th:href="@{/styles/styles.css}">
</head>
<body>
<h1>Subjects</h1>
<div class="table">
    <div class="table-head">
        <div class="table-head-row">
            <div class="table-head-cell">Name</div>
            <div class="table-head-cell">Description</div>
        </div>
    </div>
    <div class="table-body">
        <div class="table-body-row" th:each="subject: ${subjects}">
            <div class="table-body-cell" th:text="${subject.name}"></div>
            <div class="table-body-cell" th:text="${subject.description}"></div>
        </div>
    </div>
</div>
</body>
</html>